{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}No mas accidentes{% endblock %}</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{% static '/css/inicio.css' %}" type="text/css">
    </head>

    <body>
        <header class="header">
            <div class="logo">
                <img src="{% static '/images/logo.png' %}" alt="logo">
            </div>
            <nav>
                <ul class="nav-links">
                    <li><a href="{% url 'inicio' %}">Inicio</a></li>
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Panel Administración</a></li>
                    {% endif %}
                    <li><a href="{% url 'logout' %}">Salir</a></li>
                    {% else %}
                    <li><a href="{% url 'login' %}">Iniciar sesión</a></li>
                    {% endif %}
                    <li><a href="#"></a></li>
                </ul>
            </nav>
            
            <a href="#" class="btn"><button>contactanos</button></a>
        </header>


        {% block content %}


        {% endblock %}

    

    </body>

</html>