{% extends "inicio.html" %}

{% block title %} Inicio de Sesión {% endblock %}



{% block content %}

<div class="contenedor">
    <form action="">
        <h1 class="title" style="text-align:center">Inicio de Sesión</h1><br>
        <label for="">
            <i class="fa-solid fa-user"></i>
            <input placeholder="usuario" type="text" id="usuario">
        </label>
        <label for="">
            <i class="fa-solid fa-lock"></i>
            <input placeholder="contraseña" type="text" id="usuario">
        </label>
        <button id="boton">Iniciar sesión</button>
    </form>
</div>
<br>

{% endblock %}
